In [1]:
import praw
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from wordcloud import WordCloud, ImageColorGenerator
from PIL import Image

In [2]:
df = pd.read_csv("/Users/Evan/Desktop/CanInvestorTopPost.csv")

In [3]:
count = df.title.str.split(expand=True).stack().value_counts().rename_axis('unique_values').reset_index(name='counts')

In [4]:
count

     unique_values  counts
0            'to',      49
1           'for',      34
2            'in',      23
3             'a',      21
4           'the',      20
..             ...     ...
913    'helpful.',       1
914       'young',       1
915  'employment',       1
916    'improved',       1
917     'returns']       1

[918 rows x 2 columns]

In [5]:
#Deletes everything but strings and digitis
countnew = count['unique_values'].str.replace(r'\W', '')

#Generates a Dataframe from Series Countnew
df2 = countnew.to_frame()

#Add new data column to original count DF
count['keyword'] = df2['unique_values']

#Drop messy keyword Data column
df3 = count.drop(axis=1, index=None, columns='unique_values')

#Make all keyword values lowercase
df3["keyword"] = df3["keyword"].str.lower()

#Add all duplicates and there values
df4 = df3.groupby(['keyword'],as_index=False).sum()

#Delete all digits form Keyword value 
df5 = df4[~df4.keyword.str.contains(r'\d')]


#Generates a Dataframe from Series df5
#df6 = df5.to_frame()

df5

    keyword  counts
0                35
26        a      21
27    about       3
28   abroad       1
29   access       1
..      ...     ...
667    youd       1
668   young       2
669    your       4
670   youve       1
671     zwc       2

[642 rows x 2 columns]

In [6]:
df6=df5[(df5['keyword']!= "a") &
        (df5['keyword']!= "to") &
        (df5['keyword']!= "of") &
        (df5['keyword']!= "for") &
        (df5['keyword']!= "in") &
        (df5['keyword']!= "the") &
        (df5['keyword']!= "your") &
        (df5['keyword']!= "and") &
        (df5['keyword']!= "you") &
        (df5['keyword']!= "my") &
        (df5['keyword']!= "i") &
        (df5['keyword']!= "your") &
        (df5['keyword']!= "from") &
        (df5['keyword']!= "with") &
        (df5['keyword']!= "do") &
        (df5['keyword']!= "or") &
        (df5['keyword']!= "what") &
        (df5['keyword']!= "it") &
        (df5['keyword']!= "") &
        (df5['keyword']!= "is") &
        (df5['keyword']!= "are") &
        (df5['keyword']!= "on") &
        (df5['keyword']!= "me") &
        (df5['keyword']!= "at") &
        (df5['keyword']!= "that") &
        (df5['keyword']!= "some") &
        (df5['keyword']!= "be") &
        (df5['keyword']!= "will") &
        (df5['keyword']!= "has") &
        (df5['keyword']!= "there") &
        (df5['keyword']!= "when") &
        (df5['keyword']!= "if") &
        (df5['keyword']!= "who") &
        (df5['keyword']!= "whats") &
        (df5['keyword']!= "have") &
        (df5['keyword']!= "should") &
        (df5['keyword']!= "how") &
        (df5['keyword']!= "does") &
        (df5['keyword']!= "over") &
        (df5['keyword']!= "any") &
        (df5['keyword']!= "now") &
        (df5['keyword']!= "those") &
        (df5['keyword']!= "here") &
        (df5['keyword']!= "le") &
        (df5['keyword']!= "as") &
        (df5['keyword']!= "vs") &
        (df5['keyword']!= "about") &
        (df5['keyword']!= "can") &
        (df5['keyword']!= "an") &
        (df5['keyword']!= "not") &
        (df5['keyword']!= "best") &
        (df5['keyword']!= "us") &
        (df5['keyword']!= "way") &
        (df5['keyword']!= "much") &
        (df5['keyword']!= "any") &
        (df5['keyword']!= "anyone") &
        (df5['keyword']!= "get") &
        (df5['keyword']!= "this") &
        (df5['keyword']!= "into") &
        (df5['keyword']!= "but") &
        (df5['keyword']!= "no") &
        (df5['keyword']!= "would") &
        (df5['keyword']!= "while") &
        (df5['keyword']!= "just") &
        (df5['keyword']!= "need") &
        (df5['keyword']!= "more") &
        (df5['keyword']!= "was") &
        (df5['keyword']!= "they") &
        (df5['keyword']!= "make") &
        (df5['keyword']!= "sure") &
        (df5['keyword']!= "their") &
        (df5['keyword']!= " ") &
        (df5['keyword']!= "only") &
        (df5['keyword']!= "eq") &
        (df5['keyword']!= "why") &
        (df5['keyword']!= "did") &
        (df5['keyword']!= "its") &
        (df5['keyword']!= "tangerine") &
        (df5['keyword']!= "wealthsimple") &
        (df5['keyword']!= "td") &
        (df5['keyword']!= "am") &
        (df5['keyword']!= "by") &
        (df5['keyword']!= "going") &
        (df5['keyword']!= "where") &
        (df5['keyword']!= "questtrade") &
        (df5['keyword']!= "use") &
        (df5['keyword']!= "cibc") &
        (df5['keyword']!= "i'm") &
        (df5['keyword']!= "using") &
        (df5['keyword']!= "been") &
        (df5['keyword']!= "back") &
        (df5['keyword']!= "second") &
        (df5['keyword']!= "still") &
        (df5['keyword']!= "which") &
        (df5['keyword']!= "im") &
        (df5['keyword']!= "been") &
        (df5['keyword']!= "too") 
       ]

In [7]:
df7 = df6.sort_values(by=['counts'], ascending = False)
df7

        keyword  counts
579        tfsa      19
553      stocks      19
172  discussion      13
593      thread      12
315        june      11
..          ...     ...
338        lira       1
337      liquid       1
336        line       1
136        cons       1
28       abroad       1

[561 rows x 2 columns]

In [8]:
df7.to_csv(r'/Users/Evan/Desktop/Argosytestdata.csv', index = False)

In [ ]:
df7top = df7.head(150)

In [ ]:
df7chart = df7top.plot(kind='bar',x='keyword',y='counts', figsize=(24, 6))

In [ ]:
data = dict(zip(df7top['keyword'].tolist(), df7top['counts'].tolist()))

In [ ]:
wc = WordCloud(background_color='white', width=800, height=800, max_words=200).generate_from_frequencies(data)

In [ ]:
plt.figure(figsize=(10, 10))
plt.imshow(wc, interpolation='bilinear')
plt.axis('off')
plt.show()

In [ ]:
keybase_mask = np.array(Image.open('/Users/Evan/Desktop/Key Base Finacial Internship/Keybase/Keybase Digital Assets/layer 6.png'))
wc = WordCloud(background_color='white',mode="RGBA", width=1200, height=800, max_words=200, mask=keybase_mask).generate_from_frequencies(data)

image_colors = ImageColorGenerator(keybase_mask)
plt.figure(figsize=(15, 15))
plt.imshow(wc.recolor(color_func=image_colors), interpolation='bilinear')
plt.axis("off")

In [ ]:
wc.to_file("/Users/Evan/Desktop/untitled folder/Wordcloudtest.png")

In [ ]:
canada_mask = np.array(Image.open('/Users/Evan/Desktop/Key Base Finacial Internship/Keybase/Keybase Digital Assets/blackflag.png'))
wc1 = WordCloud(background_color='white',mode="RGBA", width=1200, height=800, max_words=200, mask=canada_mask).generate_from_frequencies(data)

image_colors = ImageColorGenerator(canada_mask)
plt.figure(figsize=(15, 15))
plt.imshow(wc1.recolor(color_func=image_colors), interpolation='bilinear')
plt.axis("off")

In [ ]:
wc1.to_file("/Users/Evan/Desktop/untitled folder/Wordcloudtest.png")

In [ ]:
WeeklyTopTen = df7.head(10)
WeeklyTopTen = WeeklyTopTen.reset_index()
WeeklyTopTen = WeeklyTopTen.drop(columns='index')
WeeklyTopTen